*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background: #e216ac no-repeat left center/cover;
  color: #1ba824;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px 10px;
}

h1, h2 {
  margin-bottom: 0;
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
p {
    line-height: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.play-again {
    padding: 8px, 15px;
    border: 2px dotted #1ba824;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    color: #1ba824;
    background-color: #ebad12;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.msg {
    font-size: 1.5em;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    border: 8px double #ebad12;
    display: inline-block;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    
}input {
    border: 2px solid #dedede;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
    width: 100px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 